.container {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}

.to-do h1 {
  text-align: center;
}
.finished h1 {
  text-align: center;
}
.to-do {
  border: 1px solid black;
  height: auto;
  padding: 10px;
}
.finished {
  border: 1px solid black;
  height: auto;
  padding: 10px;
  bottom: 0px;
}
.addNewTask {
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.newLabel {
  margin-right: 10px;
}
